{% extends 'base.html.twig' %}

{% block content %}

    {% include 'new.html.twig' %}

    <ul class="book-list">
        {% include 'list-top.html.twig' %}

        {% for book in books %}
            <li
                    id="{{ book.slug }}"
                    class="books-list__item
                    {{ book.finished_at ? 'done' : (book.abandonned_at ? 'abandonned' : 'reading') }}
            ">
                <div><canvas id="book-cover_{{ book.slug }}" width="26" height="30"></canvas></div>

                <div class="title-item">
                    <a href="{{ path('form_edit_book', {'slug': book.slug}) }}"
                       class="list__book-title"><strong>{{ book.title }}</strong></a>
                </div>
                <div class="author-item">
                    <a href="?filter[author]={{ book.author }}" class="list__filter-link">
                        <strong>{{ book.author_name ?? book.author }}</strong>
                    </a>
                </div>
                {#        {{ dump(book.type.name, book.note.legend) }} #}
                <div class="type-item">
                    {% if book.type is defined and book.type is not null %}
                        <a href="?filter[type]={{ book.type.name }}" class="list__filter-link">
                            <span class="badge {{ book.type.name }}">{{ book.type.name }}</span>
                        </a>
                    {% endif %}
                </div>
                <div class="note-item">
                    {% if book.note is defined and book.note is not null %}
                        <a href="?filter[note]={{ book.note.id }}" class="list__filter-link">
                        <span class="badge note_{{ book.note.id }}"
                              title="{{ book.note.legend }}">{{ book.note.legend }}</span>
                        </a>
                    {% endif %}
                </div>
                <div class="finished-at-item">
                    {{ book.finished_at
                    ? book.finished_at|date('Y⋅m⋅d')
                    : (book.abandonned_at ? book.abandonned_at|date('Y⋅m⋅d') : 'currently reading') }}
                    {% if not book.finished_at and not book.abandonned_at %}
                        <a href="{{ path('finish_book', {'slug': book.slug}) }}">↝&nbsp;finish</a>
                    {% endif %}
                </div>
                <div></div>
            </li>

        {% endfor %}
    </ul>
{% endblock %}

{% block javascript %}
    {% include 'js/canvas-cover-list.js' %}
    {% include 'js/finished.js' %}
{% endblock %}
