{% extends 'base.html.twig' %}

{% block content %}
    <div class="grid">
        <div>
            <h2>Most read authors</h2>
            <ul>
                {% for author in authors %}
                    <li>{{ author.author }} : {{ author.countbooks }}</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h2>Most given notes (%)</h2>
            <ul>
                {% for note, count in notes %}
                    <li>{{ note }} : {{ count }}</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h2>Most read types (%)</h2>
            <ul>
                {% for type, count in types %}
                    <li>{{ type }} : {{ count }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
